/node_modules
/public/hot
/public/storage
/public/css/backend
/public/css/frontend
/public/js
/public/mix*
/public/videos
/public/face
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
