html, body, div, p, ul, li, ol, table, tr, td, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.sidebar-wrapper::-webkit-scrollbar/*整体部分*/
{
    width: 6px;
    width: 6px;
}
.sidebar-wrapper::-webkit-scrollbar-track/*滑动轨道*/
{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0px;
    background: rgba(0,0,0,0.1);
}
.sidebar-wrapper::-webkit-scrollbar-thumb/*滑块*/
{
    background: #99a9bf;
    border-radius: 20px;
}
#app {
    .container {
        height: 100%;
        .sidebar-wrapper {
            width: 180px;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
            overflow-x: hidden;
            transition: all .28s ease-out;
        }
        .main-container {
            min-height: 100%;
            transition: all .28s ease-out;
            margin-left: 180px;
            .app-main {
                padding: 20px;
                .filter-container {
                    padding-bottom: 10px;
                }
            }
        }
    }
}