html,
body,
div,
p,
ul,
li,
ol,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: #F9FAFC;
}

a {
    text-decoration: none;
}

.content-container {
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #d1dbe5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
}




/* 头部导航 */

.web-header {
    background-color: #324157;
    .web-logo {
        margin-left: 30px;
        a {
            height: 60px;
            line-height: 60px;
            display: inline-block;
            padding: 0 20px;
            color: #D3DCE6;
        }
    }

    .web-search {
        height: 60px;
        line-height: 60px;
        float: right;
    }

    .web-menu {
        float: right;
    }
}

.app-main {
    width: 100%;
}




/* 底部 */

.web-footer {
    background-color: #222;
    border-color: #090909;
    position: relative;
    border: 1px solid transparent;
    padding: 30px 0 50px 0;
    .footer-container {
        width: 1280px;
        margin: 0 auto;
        .describe {
            color: #9D9D9D;
            padding-right: 30px;
            .title {
                font-size: 17px;
                font-weight: normal;
                line-height: 17px;
                margin-bottom: 10px;
            }
            .add-friends {
                padding: 14px 0;
                a {
                    display: inline-block;
                    height: 45px;
                    width: 45px;
                    line-height: 45px;
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 18px;
                    color: #FBFCFC;
                    background: #B3C3C0;
                    i {
                        font-size: 18px;
                        line-height: 45px;
                    }
                }
                a:hover {
                    color: #FFFFFF;
                }
                a.qq:hover {
                    background: #2F84BC;
                }
                a.weixin:hover {
                    background: #2CB942;
                }
                a.weibo:hover {
                    background: #D83337;
                }
            }
            .all-statistical {
                ul {

                    li {
                        float: left;
                        width: 50%;
                        line-height: 20px;
                        a {
                            font-size: 12px;
                            color: #9D9D9D;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .share-weixin img {
                width: 130px;
                max-width: 130%;
            }
        }
    }
}







/* 注册 */

.signup-container {
    .signup-detail-box {
        border-right: 1px solid #ccc;
        padding-right: 30px;
        .signup-header {
            margin: 20px auto;
            text-align: center;
            width: 80%;
            border-bottom: 2px solid #666666;
            a {
                display: inline-block;
                color: #666666;
                padding: 10px 30px;
                i {
                    margin-right: 10px;
                }
            }
            ,
            a.active,
            a:active,
            a:hover,
            a:focus {
                color: #1D8CE0;
            }
        }
        .signup-body {
            clear: both;
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #20a0ff;
            }
            .avatar-uploader-icon {
                font-size: 18px;
                color: #8c939d;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
            }
            .avatar {
                width: 100px;
                height: 100px;
                display: block;
            }
        }
    }
    .signup-other-type {
        text-align: center;
        width: 70%;
        margin: 100px auto;
        .type-header {
            border-bottom: 1px solid #D3DCE6;
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
            span {
                display: inline-block;
                padding: 5px 10px;
                line-height: 30px;
                color: #8492A6;
            }
        }
        ,
        .type-detail {
            p {
                margin: 10px auto;
                width: 80%;
                button {
                    width: 100%;
                }
            }
        }
    }
}








/* 首页 */

.index-container {
    .content-container {
        border: none;
    }

    .banner {
        background-color: #475669;
        color: #fff;
        font-weight: bold;
        .introduce {
            padding-top: 50px;
        }

        .large-title {
            font-size: 40px;
            margin-bottom: 30px;
        }

        .small-title {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .type-select {
            button {
                margin: 10px 20px;
                padding-left: 20px;
                padding-right: 20px;
                i {
                    -webkit-transition: -webkit-transform 0.4s ease-out;
                    -moz-transition: -moz-transform 0.4s ease-out;
                    transition: transform 0.4s ease-out;
                    margin-right: 10px;
                }
            }

            button:active,
            button:focus {
                outline: none !important;
            }

            button:hover i {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
}

.video-container {
    .video-box {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .web-logo {
        margin-left: 10px;
        padding: 0 10px;
    }

    .web-search {
        display: none;
    }
}