html,
body,
div,
p,
ul,
li,
ol,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: #F9FAFC;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content-container {
    width: 100%;
    max-width: 1280px;
    margin: 10px auto;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #d1dbe5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
}

.content-box {
    clear: both;
    margin-top: 20px;
}

.sidebar-title {
    margin: 30px 0 15px 0;
    border-left: 5px solid red;
    font-size: 18px;
    padding: 0 0 2px 8px;
    border-bottom: 1px solid #ccc;
}




























/* 头部导航 */

.web-header {
    background-color: #324157;
    .el-menu-item {
        padding: 0;
        .menu-link {
            display: block;
            padding: 0 20px;
        }
    }
    .el-menu {
        .el-menu-item {
            padding: 0;
            a {
                display: block;
            }
        }
    }
    .web-logo {
        margin-left: 30px;
        a {
            height: 60px;
            line-height: 60px;
            display: inline-block;
            padding: 0 20px;
            color: #D3DCE6;
        }
    }
    .web-search {
        height: 60px;
        line-height: 60px;
        float: right;
    }
    .web-menu {
        float: right;
    }
}

.app-main {
    width: 100%;
}






























/* 底部 */

.web-footer {
    background-color: #222;
    border-color: #090909;
    position: relative;
    border: 1px solid transparent;
    padding: 30px 0 50px 0;
    .footer-container {
        width: 1280px;
        margin: 0 auto;
        .describe {
            color: #9D9D9D;
            padding-right: 30px;
            .title {
                font-size: 17px;
                font-weight: normal;
                line-height: 17px;
                margin-bottom: 10px;
            }
            .add-friends {
                padding: 14px 0;
                a {
                    display: inline-block;
                    height: 45px;
                    width: 45px;
                    line-height: 45px;
                    border-radius: 50%;
                    text-align: center;
                    margin-right: 18px;
                    color: #FBFCFC;
                    background: #B3C3C0;
                    i {
                        font-size: 18px;
                        line-height: 45px;
                    }
                }
                a:hover {
                    color: #FFFFFF;
                }
                a.qq:hover {
                    background: #2F84BC;
                }
                a.weixin:hover {
                    background: #2CB942;
                }
                a.weibo:hover {
                    background: #D83337;
                }
            }
            .all-statistical {
                ul {

                    li {
                        float: left;
                        width: 50%;
                        line-height: 20px;
                        a {
                            font-size: 12px;
                            color: #9D9D9D;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .share-weixin img {
                width: 130px;
                max-width: 130%;
            }
        }
    }
}


























/* 注册 */

.signup-container {
    .signup-detail-box {
        border-right: 1px solid #ccc;
        padding-right: 30px;
        .signup-header {
            margin: 20px auto;
            text-align: center;
            width: 80%;
            border-bottom: 2px solid #666666;
            a {
                display: inline-block;
                color: #666666;
                padding: 10px 30px;
                i {
                    margin-right: 10px;
                }
            }
            a.active,
            a:active,
            a:hover,
            a:focus {
                color: #1D8CE0;
            }
        }
        .signup-body {
            clear: both;
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 3px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #20a0ff;
            }
            .avatar-uploader-icon {
                font-size: 18px;
                color: #8c939d;
                width: 100px;
                height: 100px;
                line-height: 100px;
                text-align: center;
            }
            .avatar {
                width: 100px;
                height: 100px;
                display: block;
            }
        }
    }
    .signup-other-type {
        text-align: center;
        width: 70%;
        margin: 100px auto;
        .type-header {
            border-bottom: 1px solid #D3DCE6;
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
            span {
                display: inline-block;
                padding: 5px 10px;
                line-height: 30px;
                color: #8492A6;
            }
        }
        .type-detail {
            p {
                margin: 10px auto;
                width: 80%;
                button {
                    width: 100%;
                }
            }
        }
    }
}




























/* 登录 */

.signin-container {
    .signin-detail-box {
        border-right: 1px solid #ccc;
        padding-right: 30px;
        .signin-header {
            margin: 20px auto;
            text-align: center;
            width: 80%;
            border-bottom: 2px solid #666666;
            a {
                display: inline-block;
                color: #666666;
                padding: 10px 30px;
                i {
                    margin-right: 10px;
                }
            }
        }
        .signin-body {
            clear: both;
        }
    }
    .signin-other-type {
        text-align: center;
        width: 70%;
        margin: 100px auto;
        .type-header {
            border-bottom: 1px solid #D3DCE6;
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
            span {
                display: inline-block;
                padding: 5px 10px;
                line-height: 30px;
                color: #8492A6;
            }
        }
        .type-detail {
            p {
                margin: 10px auto;
                width: 80%;
                button {
                    width: 100%;
                }
            }
        }
    }
}































/* 首页 */

.index-container {
    .content-container {
        border: none;
    }
    .banner {
        background-color: #475669;
        color: #fff;
        font-weight: bold;
        .introduce {
            padding-top: 50px;
        }
        .large-title {
            font-size: 40px;
            margin-bottom: 30px;
        }
        .small-title {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .type-select {
            button {
                margin: 10px 20px;
                padding-left: 20px;
                padding-right: 20px;
                i {
                    -webkit-transition: -webkit-transform 0.4s ease-out;
                    -moz-transition: -moz-transform 0.4s ease-out;
                    transition: transform 0.4s ease-out;
                    margin-right: 10px;
                }
            }
            button:active,
            button:focus {
                outline: none !important;
            }
            button:hover i {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
}

//视频列表
.video-container {
    .video-box {
        .video-detail {
            margin-bottom: 20px;
            .video-thumb {
                position: relative;
                cursor: pointer;
                .video-image {
                    width: 100%;
                }
                .video-mask {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: rgba(0, 0, 0, 0.5);
                    width: 100%;
                    height: 100%;
                    display: none;
                    span {
                        width: 100%;
                        height: 100%;
                        display: table;
                        i {
                            font-size: 4rem;
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            color: #eee;
                        }
                    }
                }
            }
            .video-thumb:hover .video-mask {
                display: block;
            }
            .video-intro {
                padding: 14px;
                color: #777;
                h4 {
                    font-weight: normal;
                    padding-bottom: 3px;
                    span {
                        color: #D9534F;
                        font-size: 14px;
                    }
                }
                .bottom {
                    button {
                        float: right;
                    }
                }
            }
        }
    }
}

//文章列表
.article-container {
    .article-box {
        padding-right: 20px;
        margin-right: 10px;
        border-right: 1px solid #eee;
        .article-detail {
            padding: 5px 8px;
            border: 1px solid #eee;
            box-shadow: 3px 5px 3px #fafafa;
            border-radius: 3px;
            float: left;
            margin-bottom: 20px;
            .article-picture {
                width: 20%;
                float: left;
                img {
                    width: 100%;
                    border-radius: 3px;
                }
            }
            .article-word {
                float: left;
                width: 80%;
                box-sizing: border-box;
                padding-left: 5px;
                .article-title {
                    margin-bottom: 5px;
                    a {
                        font-size: 16px;
                        color: #333;
                    }
                    a:hover {
                        color: red;
                        text-decoration: underline;
                    }
                }
                .article-right {
                    margin-bottom: 5px;
                    font-size: 12px;
                }
                .article-intro {
                    text-indent: 20px;
                    font-size: #666;
                    line-height: 180%;
                    margin-bottom: 5px;
                }
                .article-interactive {
                    text-align: right;
                    a {
                        color: #999;
                        font-size: 13px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .page-box {
            clear: both;
            text-align: center;
            margin: 20px 0;
        }
    }
    .right-recommend {
        .recomment-box {
            margin-bottom: 30px;
            h3 {
                border-bottom: 1px solid #eee;
                color: #58B7FF;
                padding-bottom: 5px;
                text-indent: 10px;
                margin-bottom: 15px;
                font-size: 16px;
                font-weight: normal;
                padding: 0 10px 5px 5px;
                a {
                    color: #ccc;
                    font-size: 12px;
                    float: right;
                }
                a:hover {
                    color: #333;
                }
            }
            ul {
                li {
                    margin-bottom: 10px;
                    font-size: 14px;
                    a {
                        color: #666;
                    }
                    a:hover {
                        color: red;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

//视频详情页面
.video-detail-container {
    .video-intro {
        float: left;
        border: 2px solid #eee;
        border-radius: 5px;
        box-shadow: 3px 5px 1px #fafafa;
        padding: 0 15px 5px 5px;
        margin-bottom: 30px;
        .video-picture {
            float: left;
            width: 25%;
            img {
                width: 100%;
            }
        }
        .video-word {
            float: left;
            padding-left: 10px;
            box-sizing: border-box;
            width: 75%;
            .video-title {
                font-size: 22px;
                color: #333;
                margin-bottom: 10px;
                padding-top: 10px;
            }
            .video-right {
                font-size: 13px;
                color: #888;
                margin-bottom: 10px;
                span {
                    margin-right: 5px;
                }
            }
            .video-concise {
                font-size: 14px;
                color: #555;
                margin-bottom: 10px;
                p {
                    line-height: 180%;
                }
            }
            .video-other {
                p {
                    line-height: 180%;
                    font-size: 13px;
                    color: #999;
                    a {}
                }
            }
        }
    }
    .video-list {
        clear: both;
        .title {
            margin: 30px 0 15px 0;
            border-left: 5px solid red;
            font-size: 18px;
            padding: 0 0 2px 8px;
            border-bottom: 1px solid #ccc;
        }
        ul {
            li {
                padding: 8px 15px;
                background: #eee;
                font-size: 14px;
                a {
                    color: #777;
                }
                a:hover {
                    color: red;
                    border-bottom: 1px solid red;
                }
            }
            li:nth-child(2n) {
                background: #fafafa;
            }
        }
    }
}

//视频播放页面
.video-play-container {
    .video-play-box {
        .video-play {
            background: #010001;
            overflow: hidden;
            position: relative;
            min-height: 500px;
            max-height: 1000px;
            border: 1px solid #eee;
            .video-tip {
                background: rgba(0, 0, 0, 0.6);
                padding: 0.6rem 2rem 0.6rem 1rem;
                color: #C6CCC0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 99;
                font-size: 1rem;
                opacity: 0;
                transition: opacity 1s;
                strong {
                    color: #2BB07D;
                }
                a {
                    color: #fff;
                    background-color: #13ce66;
                    border: 1px solid #13ce66;
                    padding: 5px 8px;
                    margin-left: 10px;
                    font-size: 13px;
                    border-radius: 3px;
                }
            }
            .vjs-paused .vjs-big-play-button,
            .vjs-paused.vjs-has-started .vjs-big-play-button {
                display: block;
            }

            .video-js.vjs-playing .vjs-tech {
                pointer-events: auto;
            }

            .vjs-volume-menu-button {
                float: right;
            }

            .video-js .vjs-current-time,
            .vjs-no-flex .vjs-current-time {
                display: block;
            }

            .vjs-time-divider {
                display: block;
            }

            .video-js .vjs-duration,
            .vjs-no-flex .vjs-duration {
                display: block;
            }

            .vjs-remaining-time {
                display: none;
            }

            .video-js .vjs-tech {
                position: relative;
            }

            .my-video-dimensions {
                width: 100%;
                background: #000;
            }

            .video-js .vjs-current-time,
            .vjs-no-flex .vjs-current-time,
            .vjs-time-divider,
            .video-js .vjs-duration,
            .vjs-no-flex .vjs-duration {
                display: block;
            }

            .vjs-time-divider {
                text-align: center;
            }

            .video-js .vjs-time-control {
                padding: 0;
            }
        }
        .video-play:hover .video-tip {
            opacity: 1;
            transition-duration: 1s;
        }
        .video-intro {
            .video-describe {
                color: #999;
                font-size: 12px;
                text-indent: 20px;
                padding: 10px;
                line-height: 150%;
            }
            .video-page {
                .video-menu {
                    padding: 0 20px 20px 20px;
                    float: left;
                    li {
                        float: left;
                        margin: 0 5px 10px 5px;
                        width: 10%;
                        text-align: center;
                        a {
                            border: 1px solid #eee;
                            border-radius: 3px;
                            font-size: 12px;
                            background: #fafafa;
                            color: #888;
                            display: block;
                            padding: 3px 5px;
                        }
                        a:hover,
                        a.active {
                            background: #58B7FF;
                            color: #fff;
                            border: 1px solid #20A0FF;
                        }
                    }
                }
            }
        }
        .video-comment {
            clear: both;
            .comment-list {
                padding: 0 20px 20px 10px;
                .comment-detail {
                    float: left;
                    width: 100%;
                    border-bottom: 1px solid #eee;
                    margin-bottom: 10px;
                    .user-face {
                        float: left;
                        width: 5%;
                        border: 1px solid #eee;
                        border-radius: 3px;
                        overflow: hidden;
                        padding: 1px;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        img {
                            width: 100%;
                        }
                    }
                    .comment-word {
                        float: left;
                        width: 95%;
                        box-sizing: border-box;
                        padding-left: 10px;
                        .user-name {
                            margin-bottom: 5px;
                            span {
                                color: #ccc;
                                font-size: 12px;
                                margin-left: 5px;
                            }
                        }
                        .comment-content {
                            line-height: 150%;
                            color: #333;
                        }
                    }
                    .comment-response {
                        margin-left: 5%;
                        width: 95%;
                        clear: both;
                        border-top: 1px solid #eee;
                        padding-top: 10px;
                        font-size: 12px;
                        .comment-detail {
                            border: none;
                            .user-face {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .comment-now {
            clear: both;
            .comment-now-content {
                margin-bottom: 10px;
                .ql-editor {
                    min-height: 200px;
                }
            }
            .commnet-now-submit {
                margin-bottom: 10px;
                text-align: right;
            }
        }
    }
}

@media (max-width: 768px) {
    .web-logo {
        margin-left: 10px;
        padding: 0 10px;
    }

    .web-search {
        display: none;
    }
}